<div class="card text-center mb-5 shadow ">
  <div class="card-header font-italic">By: <%= link_to gravatar_for(article.user, size: 30), article.user %> <%= link_to article.user.username, article.user %></div>
  <div class="card-body">
    <h5 class="card-title">
      <%= link_to article.title, article, class: "text-success" %>
    </h5>
    <p class="card-text"><%= truncate(article.description, length: 100) %></p>
    <%= link_to "Show", article, data: { turbo_method: :get }, class: "btn btn-outline-success" %>
    <%= link_to "Edit", edit_article_path(article), data: { turbo_method: :get }, class: "btn btn-outline-info" %>
    <%= link_to "Delete", article, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
  </div>
  <div class="card-footer text-muted">
    <small>Created <%= time_ago_in_words(article.created_at) %> ago, edited <%= time_ago_in_words(article.updated_at) %> ago.</small>
  </div>
</div>
