<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3" >Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td>
          <%= link_to "Show", article, data: { turbo_method: :get } %>
          <%= link_to "Edit", edit_article_path(article), data: { turbo_method: :get } %>
          <%= link_to "Delete", article, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to "New Article", new_article_path %>
</div>