<%= render "shared/page_title", title: "Categories" %>

<%= render "shared/pagination", objs: @categories %>

<% @categories.each do |category|%>
<div class="row justify-content-md-center">
  <div class="col-6 mt-4">
    <div class="card text-center mb-5 shadow ">
  <div class="card-body">
    <h5 class="card-title">
      <%= link_to category.name, category, class: "text-success" %>
    </h5>
  </div>
  <div class="card-footer text-muted">
    <small>Created <%= time_ago_in_words(category.created_at) %> ago, edited <%= time_ago_in_words(category.updated_at) %> ago.</small>
  </div>
</div>
  </div>
</div>
<% end %>


<%= render "shared/pagination", objs: @categories %>